/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

// fonts
$font-family-sans-serif: Montserrat, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace  !default;

// colors
$body-bg: #fff !default;
$body-color: #272822 !default;
$link-color: #055099 !default;

// headings
$presentation-heading-font: "Josefin Sans", sans-serif !default;
$presentation-heading-color: #1C5253 !default;

$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;
$h4-font-size: 1em !default;

// code blocks
$code-block-border-color: #93a1a1 !default;
$code-color: $presentation-heading-color;

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #fdf6e3 !default;
$gray-200: #eee8d5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002b36 !default;
$black:    #000 !default;

/*-- scss:rules --*/

.title{
    color: $white;
    font-size: 2.5em;
    font-family: $presentation-heading-font;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.subtitle{
    color: $gray-100;
    font-size: $h2-font-size;
    font-family: $presentation-heading-font;
    position: absolute;
    top: 33%
}


.author {
    color: $white;
    font-size: $h3-font-size;
    font-family: $presentation-heading-font;
    position: absolute;
    bottom: 10%;
}

.date {
    color: $white;
    font-size: $h4-font-size;
    font-family: $presentation-heading-font;
    position: absolute;
    bottom: 5%;
}


.message{
    color: $presentation-heading-color;
    font-size: $h2-font-size;
    font-family: $presentation-heading-font;
    text-align:center;
}

.space-left {
    margin-left: 5%;
}


.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%), translateX(-50%);
    transform: translateY(-50%), translateX(-50%);
}

.center-y {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.small {
    font-size: 0.8em
}

.Large {
    font-size: 1.6em
}

section.has-dark-background a {
    color: $white;
    border-style: dashed;
    border-bottom-width: 1px;
}

section.has-dark-background a:hover {
    color: $white;
    border-bottom: solid
}